.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    max-width: 400px;
    width: 100%;
}
.input {
    border-radius: 20px !important;
    padding-left: 40px !important;
}

label {
    position: relative;
    width: 100%;
}
.username-label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: -7px;
    bottom: 0;
    width: 25px;
    background: url('../img/user.svg')  center / contain no-repeat;
}

.password-label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: -7px;
    bottom: 0;
    width: 25px;
    background: url('../img/password.svg')  center / contain no-repeat;
}

.login-button {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    background: #E98C3B;
    width: 100%;
    border-radius: 20px;
    border: #E98C3B;
    color: white;
}
