html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table-header{
    height: 20px;
    background: #E98C3B;
}
footer {
    background: darkgrey;
}

.logout {
    padding: 10px 0;
}
.logout-button {
    background: inherit;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.logout-button:hover {
    background: white;
}
