<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Students</title>
    <link href="/css/style-students.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <script>
        if (!document.cookie.split(';').filter(function (item) {
            return item.trim().indexOf('token=') === 0
        }).length) {
            window.location.href = window.location.origin + '/login.html'
        }
    </script>
</head>
<body>
<main class="flex-grow-1 flex-shrink-0 full-height">
    <div class="container">
        <h1 class="text-center mx-auto mb-3">User List</h1>

        <div class="table-header"></div>
        <table class="table table-striped">
            <tbody id="table-body">

            </tbody>
        </table>
    </div>
    <nav>
        <ul id="paginator" class="pagination justify-content-center"></ul>
    </nav>
</main>
<footer class="mt-auto">
    <div class="logout container text-center">
        <button class="logout-button" onclick="logout()">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            >
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
                <polyline points="16 17 21 12 16 7"/>
                <line x1="21" y1="12" x2="9" y2="12"/>
            </svg>
            Log Out
        </button>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        renderTable();
    });

    /**
     *
     * @param {number} page
     */
    function renderTable(page = 1) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", '/index.php/users?page=' + page, true);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                var response = JSON.parse(xhr.responseText);
                if (response.status === 200) {
                    buildTableBody(response.body.data);
                    renderPaginator(
                        response.body.currentPage,
                        response.body.lastPage,
                        response.body.perPage,
                        response.body.total,
                    );
                } else {
                    window.location.href = window.location.origin + '/login.html'
                }
            }
        }

        xhr.send();
    }

    /**
     *
     * @param {{id: number, firstName: string, groupName: string, lastName: string, username: string}[]}students
     */
    function buildTableBody(students) {
        var tableBody = document.getElementById('table-body');
        while( tableBody.hasChildNodes() ){
            tableBody.removeChild(tableBody.lastChild);
        }

        var studentInfo;

        students.forEach(function (student) {
            studentInfo = document.createElement("tr");
            studentInfo.appendChild(buildStudentNamessBlock(student));
            studentInfo.appendChild(buildStudentGroupsBlock(student));

            tableBody.appendChild(studentInfo);
        })
    }

    /**
     *
     * @param {{id: number, firstName: string, groupName: string, lastName: string, username: string}} student
     * @returns {HTMLTableCellElement}
     */
    function buildStudentGroupsBlock(student) {
        var td = document.createElement("td");
        var p = document.createElement("p");
        p.setAttribute("class", "fw-bolder");
        p.appendChild(document.createTextNode('...'));
        td.appendChild(p);

        p = document.createElement("p");
        p.setAttribute("class", "fw-light");
        p.appendChild(document.createTextNode(student.groupName));
        td.appendChild(p);

        return td;
    }

    /**
     *
     * @param {{id: number, firstName: string, groupName: string, lastName: string, username: string}} student
     * @returns {HTMLTableCellElement}
     */
    function buildStudentNamessBlock(student) {
        var td = document.createElement("td");
        td.setAttribute("class", "d-flex align-items-start");
        var img = document.createElement("img");
        img.setAttribute("src", "/img/accept-icon.svg");
        img.setAttribute("class", "d-block mx-2");
        img.setAttribute("width", "30px");

        var div = document.createElement("div");
        var p = document.createElement("p");
        p.appendChild(document.createTextNode(student.username));
        div.appendChild(p);
        p = document.createElement("p");
        p.appendChild(document.createTextNode(student.firstName + ' ' + student.lastName));
        div.appendChild(p);
        td.appendChild(img);
        td.appendChild(div);

        return td;
    }

    /**
     *
     * @param {number} currentPage
     * @param {number} lastPage
     * @param {number} perPage
     * @param {number} total
     */
    function renderPaginator(currentPage, lastPage, perPage, total) {
        var paginator = document.getElementById('paginator');
        while( paginator.hasChildNodes() ){
            paginator.removeChild(paginator.lastChild);
        }
        var li, link;

        var step = total / perPage;

        for (var page = 1; page <= step; page++) {
            li = document.createElement("li");
            li.setAttribute("class", "page-item");
            link = document.createElement("a")
            link.setAttribute("class", "page-link");
            link.setAttribute("onclick", "renderTable(" + page + ")");
            // link.setAttribute("href", window.location.origin + '/students.html?page=' + page);
            link.setAttribute("href", '#');
            link.appendChild(document.createTextNode(String(page)));
            li.appendChild(link);
            paginator.appendChild(li);
        }
        var nextPage = currentPage + 1
        if (nextPage <= lastPage) {
            li = document.createElement("li");
            li.setAttribute("class", "page-item");
            link = document.createElement("a")
            link.setAttribute("class", "page-link");
            link.setAttribute("href", window.location.origin + '/students.html?page=' + nextPage);
            link.appendChild(document.createTextNode('next'));
            li.appendChild(link);
            paginator.appendChild(li);
        }
    }

    function logout() {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", '/index.php/auth', true);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                var response = JSON.parse(xhr.responseText);
                if (response.status === 200) {
                    document.cookie = 'token=draft; expires=Thu, 01 Jan 1970 00:00:00 GMT'

                    window.location.href = window.location.origin + '/login.html'
                } else {
                    console.error(response)
                }
            }
        }
        xhr.send();
    }
</script>
</body>
</html>
